*{
    margin: 0;
    padding: 0;

}
.lasagna_image {
        width: 600px;
        height: 300px;
        border-radius: 20px;
        border: 3px solid rgb(68, 113, 68);
}
.header, .description, .ingredients_wraper, .steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.ingredients_title{
    text-align: center;
}
.desc{
    width: 1000px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 50px;
    color: rgb(71, 123, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 15px;
}
.desc_title, .steps_title, .ingredients_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(43, 111, 60);
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 15px;

}
body{
    background-color: beige;
}
